.header {
    height: 50px;
    border: 1px solid var(--border-color);
}

.logo {
    margin-left: 30px;
    font-size: 20px;
}

.app {
    height: calc(100% - 50px); 
}

.sidebar {
    background-color: #4a4e58;
}

.btn-add {
    margin: 10px 10%;
    width: 80%;
    font-size: 20px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
}

.btn-add:hover {
    opacity: 0.8;
    cursor: pointer;
}

.list {
    list-style: none;
    padding-left: 0;
}

.item {
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.item:hover {
    cursor: pointer;
}

.label {
    margin: 10px;
}

.item--active {
    color: var(--primary-color);
    background-color: #00000033;
    border-left: 3px solid var(--primary-color);
}

.main {
    height: 100%;
    background-color: #ebedf0;
    padding: 10px;
}

.toolbar {
    width: 100%;
    background-color: var(--white-color);
    padding-left: 10px;
}

.title, .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.search {
    display: none;
}

.title__label {
    margin: 0;
}

.input-search {
    width: 95%;
}

.box-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.box-icon:hover {
    background-color: #f4f5f9;
}

.icon {
    font-size: 15px;
}

.icon:hover {
    cursor: pointer;
}

.avatar-img {
    width: 20%;
}

.avatar {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: aquamarine;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    display: block;
    width: 100%;
    height: 630px;
    text-align: left;
}

.table__head {
    display: block;
}

.table__body {
    display: block;
    height: calc(100% - 55px);
    overflow: auto;
}

.table-row {
    width: 100%;
    display: flex;
    align-items: center;
    height: 55px;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
}

.table-row--active {
    background-color: #f4f5f9;
    border-left: 3px solid var(--primary-color);
}

.border-bot-primary {
    border-bottom: 1px solid var(--primary-color);
}

.table-col {
    width: 25%;
}

.user-status {
    width: 80px;
    padding: 4px;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    color: var(--danger-color);
    background-color: var(--danger-bg);
}

.user-status--active {
    color: var(--success-color);
    background-color: var(--success-bg);
}

.personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.personal__img {
    width: 180px;
    height: 180px;
}

.info {
    padding: 10px;
}

.info__email {
    display: block;
    margin-left: 10px;
    font-weight: 700;
}

.email {
    margin-left: 27px;
}

.controls {
    text-align: right;
}

.btn {
    width: 116px;
    height: 32px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    color: var(--primary-color);
    background-color: var(--silver-color);
    margin: 0 4px;
}

.btn:hover {
    opacity: 0.7;
}

.btn-primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.form {
    margin-top: 50px;
}

.input-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
}

.input-box__input {
    border: 1px solid var(--border-color);
}

.input-box__input:focus {
    outline: 2px solid var(--primary-color); 
}

.input-img {
    width: 95px;
    height: 95px;
}

/* SWITCH */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--danger-bg);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--success-bg);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* Modal */
.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
    visibility: hidden;
}
  
.modal--active {
    visibility: visible;
}
  
.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
  
.modal__body {
    width: 350px;
    height: auto;
    border-radius: 10px;
    background-color: #fff;
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    padding: 10px;
    z-index: 2;
    box-shadow: 2px 4px 4px rgba(170, 170, 170, 0.722);
    animation: Growth ease-in 0.5s;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modal-heading {
    margin: 0;
}

.input-uname {
    width: 60%;
    height: 32px;
    border: 1px solid var(--border-color);
}

.input-uname:focus {
    outline: 2px solid var(--primary-color);
}